  .heading
  {font-size: 20px;
    width: 100%;
    margin: 0px;
    height: 200px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none ;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 16px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 18px;
  }
 .copy_right_footer{
   position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey;
color: whitesmoke;
line-height: 3;
text-align: center;}

.result_para_tag span{
  white-space:pre-line;
}

canvas{
 border: 5px solid green;
 border-radius: 20px;
 box-shadow: 5px 5px 5px gray;
 margin-top: 140px; 
 margin-bottom: 20px;
}